<% if user_signed_in? %>
	<div class="page-header">
		<h1>Word <i>of the</i> Day
	</div>

<h2><%= @khmer %> </h2><%= @english %>




<% else %>
	<div class="hero-unit text-center">
		<h1>Language Timesheet Tracker</h1>
			It is time to log those hours.<br><br>
				<div class="btn btn-large">
					<%= link_to "Log In", new_user_session_path %>
				</div>
	</div>
<% end %>