<h1>Anki Flashcards</h1>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Installing Anki</a></li>
    <li><a href="#tab2" data-toggle="tab">Deck Setup</a></li>
    <li><a href="#tab3" data-toggle="tab">Adding New Cards</a></li>
    <li><a href="#tab4" data-toggle="tab">Using Anki</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><iframe width="480" height="360" src="//www.youtube.com/embed/C2Dz8kKavhI" frameborder="0" allowfullscreen></iframe>.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p><iframe width="480" height="360" src="//www.youtube.com/embed/_sjRAsHTo8o" frameborder="0" allowfullscreen></iframe></p>
    </div>
    <div class="tab-pane" id="tab3">
      <p><iframe width="480" height="360" src="//www.youtube.com/embed/f100H9W2zg8" frameborder="0" allowfullscreen></iframe></p>
    </div>
    <div class="tab-pane" id="tab4">
      <p><iframe width="480" height="360" src="//www.youtube.com/embed/M1d-i4Vws1k" frameborder="0" allowfullscreen></iframe></p>
    </div>
  </div>
</div>