<div class="page-header"><h1>Anki Flashcards</h1></div>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Installing Anki</a></li>
    <li><a href="#tab2" data-toggle="tab">Deck Setup</a></li>
    <li><a href="#tab3" data-toggle="tab">Adding New Cards</a></li>
    <li><a href="#tab4" data-toggle="tab">Using Anki</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><h3>What is Anki?</h3>
      <p>Anki is a fantastic resource for anyone learning languages (or indeed learning anything).  It is a flashcard program that works on a <b>Spaced Repetition System (SRS)</b>.  This means that how often you are tested on each individual card will depend on how well you know it.  The idea is that through this spaced repetition, the new vocabulary/sentences/letters you learn will become embedded in your long term memory.  However, Anki is not a substitute for actually going out and using the vocabulary that you are learning through it.  It is advisable to try and learn a word in context, then put it into Anki and go out and start using it as soon as possible.</p>
      <p><h3>Installing Anki:</h3></p>
      <iframe width="640" height="480" src="//www.youtube.com/embed/C2Dz8kKavhI" frameborder="1" allowfullscreen></iframe></p>
      <p><h3>Installing Anki:</h3><h5>(Text Version)</h5><p>
      <p>What you need to do first is download <a href="http://ankisrs.net/">Anki</a>. At the bottom of the page there are different download options, as Anki is available on both mac and PC.  Anki is also available on smartphone devices. The <b>iOS</b> version can be purchased <a href="https://itunes.apple.com/en/app/ankimobile-flashcards/id373493387?mt=8">here</a> for $24.99. The <b>Android</b> version can be downloaded <a href="https://play.google.com/store/apps/details?id=com.ichi2.anki&hl=en">here</a> free of charge.</p>
	     <p>Once you have downloaded and installed Anki, you should go to the following website and create an account - <a href="https://ankiweb.net/ ">https://ankiweb.net/</a>Doing this will not only allow you to download shared decks, it will also allow you to synchronize your deck so that you can open up and use your own decks on your laptop/phone/ipad or someone else’s computer that has Anki installed.</p>
	     <p>Now find the button that says <b>‘get shared decks’</b> and click on it.  You will see a search option, and here you need to type <b><i>‘Khmer Language Manual’</i></b>.  When you do this a result will show, which is called <b>‘Khmer Language Manual 1-5’</b>. Click on the <b>‘info’</b> button, and then proceed to download this deck.  This is deck that we have created to help you as you go through the Khmer Language Manual.  As the book continues to develop, we will continue to create more decks.</p>
       <p> Once you have downloaded the deck, open it and it should be automatically added to the program.  When you close Anki, it will sync with ankiweb, and so the deck will also appear online and any cards you have studied will be recognized there.  This is only really an issue if you are studying on multiple computers or switching between your computer/ipad/smartphone etc.</p>
	<p><h5>Some other recommended decks to add are:</h5>
	<ul>
	<li>Vocabulary from Colloquial Cambodian</li>
	<li>Vocabulary from Christian Survival Guide.</li></ul> 
	<p>You can download those in exactly the same way as the previous deck, and use them with the Colloquial Cambodian book, or the Christian Survival Khmer book.</p><br><br><br>
    </div>
    <div class="tab-pane" id="tab2">
    <p><h3>Deck Setup:</h3>
      <p>The Khmer Language Manual deck is good for getting you started, but it is most likely that you will also want to create your own decks for new vocabulary that you learn yourself.</p>
      <p><iframe width="640" height="480" src="//www.youtube.com/embed/_sjRAsHTo8o" frameborder="1" allowfullscreen></iframe></p>
      <p><h3>Deck Setup:</h3></p>
      <h5>(Text Version)</h5>
      <p>Go back to the Anki program itself, and click on the <b>‘create deck’</b> button.<br> <b>Input a name for your new deck.</b> Now your deck should appear on the main screen, and you can click on it.</p>
<p>At the top of the screen you will see 3 buttons: 
<ul>
<li>Decks</li>
<li>Add</li>
<li>Browse</li></ul></p>

<p>Decks will take you back to the previous screen so that you can see all of the decks you have available.  Browse will let you look through the flashcards in your individual decks.  For now we are concerned with adding cards to your deck, so click the add button.</p>  

At this point click on the button that says <b>'fields'</b>. Click <b>‘add’</b>, and then as the field name type in <b>‘Sentence’</b>.  This will give you the option to include a sentence in your flash card which will give you the word you are using in context.

Once you have done that, click <b>'close'</b>, and now click the cards button on the right of the fields button.  What you should see here is both a <b>forward</b> and <b>reverse</b> option at the top of the window.  If this is not the case, then please click the little plus button in the right hand corner.</p>
<p> You should now see two different card types, you need to make sure that these look opposite.  The first card type should say <b>(front)</b> in the box on the top right hand side of the window, and the second card type should say <b>(back)</b> in that same box.  If this is not the case, then select the second card type and click the <b>‘flip’</b> button.  You should now see <b>(back)</b> in the box on the top right hand side of the window.  This simply means that each time you add a new card, you will be tested both ways – from Khmer to English, and English to Khmer.  </p><br><br><br>
    </div>
    <div class="tab-pane" id="tab3">
    <p><h3>Adding New Cards:</h3></p>
      <p><iframe width="640" height="480" src="//www.youtube.com/embed/f100H9W2zg8" frameborder="1" allowfullscreen></iframe></p>
      <p><h3>Adding New Cards:</h3></p>
      <h5>(Text Version)</h5>
      <p>If you don’t yet have the Khmer font installed on your computer, I recommend you look at the resource which tells you how to do so, and input at the very least both the Khmer and your own transliteration in your deck.  From this point it is really very simple, you simply type in an English word in the box that says <b>‘front’</b>, and then type in the Khmer translation in the box that says <b>‘back’</b>.  As you do this, 2 cards will be created, meaning that you will be tested on translating from both <b>English to Khmer</b>, and also <b>Khmer to English.</b></p>
      <p>Now you can add cards as and when you feel like doing so.  Depending on the size of your deck, there are some options you might want to change. The default setting is to allow you to study <b>20</b> new cards a day (which will work out as <b>10</b> new words), and a maximum of <b>100</b> cards each day.  This is great for when you are first starting out, but when you are working with bigger decks, this is going to be restrictive.  So lets learn how to change these settings.</p>
      <p>First open up the deck you want to change and then click <b>‘options’.</b>  Once you have done this you will be under the <b>‘New Cards’</b> tab. Here you can alter the new cards/day, and this will let you study more of the new cards you have just added in one time.  If you are like me, you may save up new words until the weekend, and then sit down and type <b>50</b> odd words into your deck.  This will give you <b>100</b> new cards to study, and so it may be worth increasing the number of new cards/day to 40, meaning you are testing yourself on <b>20</b> new words each day.</p><br><br><br>
    </div>
    <div class="tab-pane" id="tab4">
    <p><h3>Using Anki:</h3></p>
      <p><iframe width="640" height="480" src="//www.youtube.com/embed/M1d-i4Vws1k" frameborder="1" allowfullscreen></iframe></p><br><br><br>
    </div>
  </div>
</div>