<div class="page-header">
<h1>Goals & Objectives</h1>
</div>
<p>
This section of the website is really to give you some basic goals and objectives to aim for in your journey of
learning Khmer.  It must be said at the outset that learning a new language is a huge undertaking, and essentially
you are going to have to learn to say and understand thousands of new words.  You are going to learn an entirely new alphabet (the biggest one in the world) and system of reading and writing.  You will learn to produce sounds that we don't have in the English language.  You will learn a different grammar system, new ways of expressing tenses, and be free from the headache of conjugating verbs.  On top of that you will be learning to speak with different levels of formality depending on the situation you find youself in, and you will have to contend with different accents from around the nation of Cambodia.  All in all you can see this is a huge mission you are setting out on! However, it is an enjoyable one, and we are going to be here to help you in any way that we can.
</p>
<div class="pull-right">
<h5>-Battambang Language Team</h5>
</div>
<br><br><br> 
<ul class="thumbnails">
  <li class="span3">
  <div class="thumbnail">
      <img src="/assets/level.gif" alt="">
      <div class ="caption">
      <p>This chart shows the different levels of language fluency.</p>
      <p> 
        <a href="/assets/level.jpg" class ="btn btn-primary">View Chart</a>
    </p>
      </div>
      </div>
    </a>
  </li>
<p>
As a new student of Khmer, your goal is to reach native fluency.  If you look on the chart of language levels,
native fluency would put you at the <b>C2</b> level in every category.  This should be your ultimate goal, but in reality such a goal may never be attained, and for those that do, it takes many years.  A much simpler way of defining your goal is to be <b>able to communicate without difficulty in all situations.</b>  It is great to have this as your long term goal, but realistically if you don't have smaller goals to aim for along the way, you are going to become very discouraged.  We are going to be running a testing program in the near future that will help us to assess where you are in your language learning journey, and discuss with you how to most efficiently spend your time.</p>
<p>
From this we hope to be able to produce a much more personal set of goals and objectives that will help you 
continue to grow.  For the time being please use the above chart as some general goals.  One further piece of 
advice is to take encouragement from little victories.  For example, the first time you hear and understand a word
that you recently learnt, or the first time you are able to effectively communicate without using English etc.</p><p>
The final, and perhaps most important piece of advice - <b>don't be afraid to fail!</b>  Jim Throne is an American baseball player who is one of only 7 men to have hit over 600 home runs in a career, however, he has also struck out the 2nd largest number of times!  Because he was not afraid to go for it and strike out, he had an incredible career. Kobe Bryant is one of the best basketball players ever, and yet he is the player with the most misses in a career of basketball.  There is a correlation between failing and succeeding, and the same applies to you in language. If you are not afraid to fail time and time again, then you will eventually succeed.

</p>
<p><b>If you are not afraid to fail time and time again, then you will eventually succeed.</b></p>













</p>