<div class="page-header"><h1>Installing Khmer Font</h1></div>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Khmer Font - PC</a></li>
    <li><a href="#tab2" data-toggle="tab">Khmer Font - Mac</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><h3>Installing on PC</h3></p>
      <p></p><br><br><br>
    </div>
    <div class="tab-pane" id="tab2">
    <p><h3>Installing on Mac</h3>
      <p><iframe width="640" height="480" src="//www.youtube.com/embed/Fi0UyXd9k7Q" frameborder="1" allowfullscreen></iframe></p>
<br><br><br>
    </div>
    
    </div>
  </div>
</div>