<div class="page-header"><h1>Objective Chart</h1></div>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">3 Months</a></li>
      <li><a href="#tab2" data-toggle="tab">6 Months</a></li>
      <li><a href="#tab3" data-toggle="tab">9 Months</a></li>
      <li><a href="#tab4" data-toggle="tab">1 Year</a></li>
      <li><a href="#tab5" data-toggle="tab">1.5 Years</a></li>
      <li><a href="#tab6" data-toggle="tab">2 Years</a></li>
      <li><a href="#tab7" data-toggle="tab">2.5 Years</a></li>
      <li><a href="#tab8" data-toggle="tab">3 Years</a></li>



    </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><h3>Khmer Language Learning Objectives: 3 Months</h3>
      <table class="nicetable table-condensed">  
<tr>
    
    <th></th>
    <th>You Should Be Able To</th>
    <th>You Should Work On</th>
    <th>Frustrations Expected</th>
    <th>Resources Available</th>

</tr>
 </thead>
  <tbody>

  <tr>
    
    <td>Reading</td>
    <td>All consonants, vowels and sub-consonants</td>
    <td>Most important independent vowels</td>
    <td>Difficulty remembering new alphabet</td>
    <td>KLM, Grade 1, CQ, Anki
</td>
  </tr>

  <tr>
    
    <td>Writing</td>
    <td>As Above</td>
    <td>As Above</td>
    <td>As Above</td>
    <td>KLM, Grade 1, CQ, Lang-8</td>
  </tr>
  <tr>
    
    <td>Speaking</td>
    <td>Talk about yourself at a very basic level</td>
    <td>Pronunciation, basic conversation</td>
    <td>Too many to list</td>
    <td>KLM, CQ, VSO, The Market, Anki</td>
  </tr>
  <tr>
    
    <td>Listening</td>
    <td>Understanding very basic and slowly spoken Khmer</td>
    <td>LOTS of Khmer input</td>
    <td>As Above</td>
    <td>KLM, CQ, The Market</td>
  </tr>



</tbody>
</table>
        
    </div>

    <div class="tab-pane" id="tab2">
    <p><h3>Khmer Language Learning Objectives: 6 Months</h3>
      <table class="nicetable table-condensed">  
<tr>
    
    <th></th>
    <th>You Should Be Able To</th>
    <th>You Should Work On</th>
    <th>Frustrations Expected</th>
    <th>Resources Available</th>

</tr>
 </thead>
  <tbody>

  <tr>
    
    <td>Reading</td>
    <td>Most common independent vowels, simple words</td>
    <td>More simple words</td>
    <td>Difficulty remembering new alphabet</td>
    <td>KLM, Grade 1, CQ, Anki
</td>
  </tr>

  <tr>
    
    <td>Writing</td>
    <td>Most common independent vowels, some simple words</td>
    <td>More simple words</td>
    <td>As Above</td>
    <td>KLM, Grade 1, CQ, Lang-8</td>
  </tr>
  <tr>
    
    <td>Speaking</td>
    <td>Basic everyday conversation and common questions</td>
    <td>Pronunciation, basic conversation, necessities</td>
    <td>Too many to list!</td>
    <td>KLM, CQ, VSO, The Market, Anki</td>
  </tr>
  <tr>
    
    <td>Listening</td>
    <td>Pick out words you know, not yet understand full sentences</td>
    <td>LOTS of Khmer input</td>
    <td>As Above</td>
    <td>KLM, CQ, The Market</td>
  </tr>



</tbody>
</table>
      
     
   </div>
           <div class="tab-pane" id="tab3">
     <p><h3>Khmer Language Learning Objectives: 9 Months</h3>
      <table class="nicetable table-condensed">  
<tr>
    
    <th></th>
    <th>You Should Be Able To</th>
    <th>You Should Work On</th>
    <th>Frustrations Expected</th>
    <th>Resources Available</th>

</tr>
 </thead>
  <tbody>

  <tr>
    
    <td>Reading</td>
    <td>Simple words, phrases</td>
    <td>Simple sentences, using a dictionary</td>
    <td>Reading at a very slow pace</td>
    <td>KLM, Grade 2, CQ, Anki
</td>
  </tr>

  <tr>
    
    <td>Writing</td>
    <td>Simple words, phrases</td>
    <td>Phrases</td>
    <td>Writing like a child</td>
    <td>KLM, Grade 1, CQ, Lang-8</td>
  </tr>
  <tr>
    
    <td>Speaking</td>
    <td>Everyday conversation and necessities</td>
    <td>Pronunciation, Building vocabulary</td>
    <td>Difficulty expressing exactly what you want to say in Khmer</td>
    <td>KLM, CQ, VSO, The Market, Anki, Dictionary</td>
  </tr>
  <tr>
    
    <td>Listening</td>
    <td>Everyday conversation and necessities. Conversations you initiate</td>
    <td>LOTS of Khmer input</td>
    <td>Difficulty understanding</td>
    <td>KLM, CQ, The Market</td>
  </tr>



</tbody>
</table>
    
   </div>

    <div class="tab-pane" id="tab4">
    <p><h3>Khmer Language Learning Objectives: 1 Year</h3>
      <table class="nicetable table-condensed">  
<tr>
    
    <th></th>
    <th>You Should Be Able To</th>
    <th>You Should Work On</th>
    <th>Frustrations Expected</th>
    <th>Resources Available</th>

</tr>
 </thead>
  <tbody>

  <tr>
    
    <td>Reading</td>
    <td>Simple words and sentences, understand more simple words that you read, use a dictionary</td>
    <td>Standard sentences, reading things you don't understand</td>
    <td>Reading at a very slow pace, not understanding large amounts of what you read</td>
    <td>KLM, Grade 2, CQ, Anki
</td>
  </tr>

  <tr>
    
    <td>Writing</td>
    <td>Simple words and phrases</td>
    <td>Simple words, attempt to write simple words that are dictated</td>
    <td>Writing like a child</td>
    <td>KLM, Grade 1, CQ, Lang-8</td>
  </tr>
  <tr>
    
    <td>Speaking</td>
    <td>Meet new people and chat with them, find your way around new places by asking people</td>
    <td>Pronunciation, Building vocabulary, focus on correct sentence structure</td>
    <td>Difficulty expressing exactly what you want to say in Khmer, not sounding Khmer</td>
    <td>KLM, CQ, VSO, The Market, Anki, Dictionary, CSK</td>
  </tr>
  <tr>
    
    <td>Listening</td>
    <td>Good general understanding</td>
    <td>LOTS of Khmer input, listening to translation</td>
    <td>Difficulty understanding specialist areas</td>
    <td>KLM, CQ, The Market</td>
  </tr>



</tbody>
</table>
   
  </div>


   <div class="tab-pane" id="tab5">
<p><h3>Khmer Language Learning Objectives: 1.5 Years</h3>
      <table class="nicetable table-condensed">  
<tr>
    
    <th></th>
    <th>You Should Be Able To</th>
    <th>You Should Work On</th>
    <th>Frustrations Expected</th>
    <th>Resources Available</th>

</tr>
 </thead>
  <tbody>

  <tr>
    
    <td>Reading</td>
    <td>Read standard sentences and words you have never seen, read the newspaper slowly</td>
    <td>Reading the Bible, comprehension when reading</td>
    <td>Difficulty with the old translation of the Bible</td>
    <td>KLM, Grade 3+, Newspaper, Anki, Dictionary, Bible
</td>
  </tr>

  <tr>
    
    <td>Writing</td>
    <td>Lots of simple words, dictated words (even if the spelling is wrong)</td>
    <td>More complex words</td>
    <td>Difficulty remembering spelling</td>
    <td>KLM, Grade 2, CQ, Lang-8</td>
  </tr>
  <tr>
    
    <td>Speaking</td>
    <td>Express yourself in many different situations, speak at a more native pace, good sentence structure</td>
    <td>Building a much wider vocabulary, stretch yourself in specialist areas</td>
    <td>Forgetting vocabulary that you use rarely, reaching a point where you feel like you are advancing much more slowly.</td>
    <td>KLM, CQ, VSO, Anki, Dictionary, CSK</td>
  </tr>
  <tr>
    
    <td>Listening</td>
    <td>Good general understanding, perhaps translating announcements for MC</td>
    <td>Khmer music/movies, translating</td>
    <td>Difficulty understanding specialist areas</td>
    <td>KLM, CQ, Translation, Music, TV</td>
  </tr>



</tbody>
</table>
   
        </div>



  <div class="tab-pane" id="tab6">
 
 <p><h3>Khmer Language Learning Objectives: 2 Years</h3>
      <table class="nicetable table-condensed">  
<tr>
    
    <th></th>
    <th>You Should Be Able To</th>
    <th>You Should Work On</th>
    <th>Frustrations Expected</th>
    <th>Resources Available</th>

</tr>
 </thead>
  <tbody>

  <tr>
    
    <td>Reading</td>
    <td>Read any text (although still not at native pace), good understanding</td>
    <td>Reading the Bible, comprehension when reading, reading pace</td>
    <td>Difficulty with the old translation of the Bible, reading space</td>
    <td>Grade 3+, Newspapers, Bible, Dictionary, Books
</td>
  </tr>

  <tr>
    
    <td>Writing</td>
    <td>More complex words</td>
    <td>More complex words, expressing yourself in written Khmer</td>
    <td>Difficulty remembering spelling, structuring sentences</td>
    <td>KLM, Grade 3+, Lang-8</td>
  </tr>
  <tr>
    
    <td>Speaking</td>
    <td>Express yourself in most situations, increased ability in specialist areas, navigate unknown situations by working around vocabulary you don't know</td>
    <td>Expressing yourself like a native, Khmer slang</td>
    <td>Realizing you don't know quite the correct word for a situation</td>
    <td>Anki, Dictionary, CSK</td>
  </tr>
  <tr>
    
    <td>Listening</td>
    <td>Good general understanding, perhaps translating announcements for MC, and perhaps short teachings</td>
    <td>Longer periods of translating</td>
    <td>Difficulty understanding specialist areas, difficulty translating for long periods</td>
    <td>Translation, Music, TV</td>
  </tr>



</tbody>
</table>
      
   </div>

     <div class="tab-pane" id="tab7">
   <p><h3>Khmer Language Learning Objectives: 2.5 Years</h3>
      <table class="nicetable table-condensed">  
<tr>
    
    <th></th>
    <th>You Should Be Able To</th>
    <th>You Should Work On</th>
    <th>Frustrations Expected</th>
    <th>Resources Available</th>

</tr>
 </thead>
  <tbody>

  <tr>
    
    <td>Reading</td>
    <td>Read anything, understand most, better reading pace</td>
    <td>Reading pace</td>
    <td>Reading speed</td>
    <td>Grade 3+, Newspapers, Bible, Dictionary, Books, Lexicons
</td>
  </tr>

  <tr>
    
    <td>Writing</td>
    <td>Express yourself in written Khmer without too much trouble</td>
    <td>Translating documents</td>
    <td>Difficulty remembering spelling</td>
    <td>Grade 3+ Lang-8</td>
  </tr>
  <tr>
    
    <td>Speaking</td>
    <td>Speak Khmer without ever having to break into English</td>
    <td>Expressing yourself like a native, Khmer slang, very specialist vocabulary, translating into Khmer</td>
    <td></td>
    <td>Anki, Dictionary, Translation, MSK, BSK</td>
  </tr>
  <tr>
    
    <td>Listening</td>
    <td>Translate longer teachigns (3 hours), understand some slang</td>
    <td>Longer periods of translating</td>
    <td>Difficulty with very colloquial situations</td>
    <td>Translation, Music, TV</td>
  </tr>



</tbody>
</table>
         
     
   </div>

         <div class="tab-pane" id="tab8">
   <p><h3>Khmer Language Learning Objectives: 3 Years</h3>
 <table class="nicetable table-condensed"> 
<tr>
    
    <th></th>
    <th>You Should Be Able To</th>
    <th>You Should Work On</th>
    <th>Frustrations Expected</th>
    <th>Resources Available</th>

</tr>
 </thead>
  <tbody>

  <tr>
    
    <td>Reading</td>
    <td>Read anything, understand virtually anything, read at a good pace (but probably not native)</td>
    <td>Reading pace, continuing to study</td>
    <td>Reading speed</td>
    <td>Grade 3+, Newspapers, Bible, Dictionary, Books, Lexicons
</td>
  </tr>

  <tr>
    
    <td>Writing</td>
    <td>Express yourself in written Khmer</td>
    <td>Translating documents, continuing to study</td>
    <td>Difficulty remembering spelling</td>
    <td>Grade 3+, Lang-8</td>
  </tr>
  <tr>
    
    <td>Speaking</td>
    <td>Speak in a very Khmer way in almost any situation without preparation time</td>
    <td>Very specialist vocabulary, translating into Khmer, continuing to study</td>
    <td></td>
    <td>Anki, Dictionary, Translation, MSK, BSK</td>
  </tr>
  <tr>
    
    <td>Listening</td>
    <td>Translate longer teachigns (3 hours), understand most things</td>
    <td>Longer periods of translating</td>
    <td></td>
    <td>Translation, Music, TV</td>
  </tr>



</tbody>
</table>
      
        </div>
          </div>
        </div>
      </div>
