<div class="page-header"><h1>Khmer Tests</h1></div>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">3 Months</a></li>
      <li><a href="#tab2" data-toggle="tab">6 Months</a></li>
      <li><a href="#tab3" data-toggle="tab">9 Months</a></li>
      <li><a href="#tab4" data-toggle="tab">1 Year</a></li>
      <li><a href="#tab5" data-toggle="tab">15 Months</a></li>
      <li><a href="#tab6" data-toggle="tab">18 Months</a></li>
      <li><a href="#tab7" data-toggle="tab">21 Months</a></li>
      <li><a href="#tab8" data-toggle="tab">2 Years</a></li>
      <li><a href="#tab9" data-toggle="tab">2.5 Years</a></li>
      <li><a href="#tab10" data-toggle="tab">3 Years</a></li>

    </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><h3>3 Month Khmer Test</h3>
      <p>
      For this test there will be 3 people present, the student, a native Khmer speaker, and a moderator.  The test will cover each of the four areas that are vital to becoming fluent in a language – speaking, listening, reading and writing.  This basic overview is designed to help you prepare for the test.  Please don’t worry and don’t try to cram!  The idea of this test is not to discourage but to encourage.  As we assess your level we will be looking at a set of personal goals for you to continue learning Khmer as efficiently as possible, and we will be able to tell you which areas require the most attention. 
     </p>
      <h4><i>Speaking</i></h4>
      <p>
     For your 3 month speaking evaluation you will speak to your moderator and the native speaker on basic introductions.  For this you will be expected to introduce yourself, say where you are from, how many siblings you have, how old you are etc.  You can also ask some family related questions to the native speaker.  You can spend as long as you need doing this.
     </p>
     <h4><i>Listening</i></h4>
      <p>
     The next part of the test will be focused on your listening ability.  The native Khmer speaker will talk to you about their own family, and you should try to take notes while listening to the speaker, in order to help you remember what they have said.  When they have finished talking, they will ask you some questions about what they said, in order to gauge how well you have understood what they said.
     </p>
     <h4><i>Reading</i></h4>
      <p>
     For this part of the test we will give you some words and a few short sentences/phrases to read.  You will not have the opportunity to prepare beforehand.  This part of the test will help us to assess how best for you to proceed with reading, and also with your pronunciation.
     </p>
     <h4><i>Writing</i></h4>
      <p>
     The final part of the test will be a dictation exercise.  The native speaker will slowly read some consonants, vowels, and very simple words, and you will simply write down what you hear.  Everything will be read two or three times to give you some time to process what you hear.
     </p><br><br>
        
    </div>

    <div class="tab-pane" id="tab2">
    <p><h3>6 Month Khmer Test</h3>
      <p>
      For this test there will be 3 people present, the student, a native Khmer speaker, and a moderator.  The test will cover each of the four areas that are vital to becoming fluent in a language – speaking, listening, reading and writing.  This basic overview is designed to help you prepare for the test.  Please don’t worry and don’t try to cram!  The idea of this test is not to discourage but to encourage.  As we assess your level we will be looking at a set of personal goals for you to continue learning Khmer as efficiently as possible, and we will be able to tell you which areas require the most attention.   
     </p>
      <h4><i>Speaking</i></h4>
      <p>
    For your 6 month speaking evaluation you will speak to your moderator and the native speaker on one of the following topics:
        <ol>
          <li>Family – This could include how many siblings you have, where you’re from, how old you are etc.</li>
          <li>Cambodia – This could include how you feel about Cambodia, what you think of Khmer food, talking about Khmer friends you have made etc.</li>
          <li>Work – This could include what you do here, why you do it, what you like about it etc.</li>
        </ol>

      You need to choose one of the three topics above and talk about it, and then you will be asked questions relating to what you say to which you need to try and respond.  Prepare according to your ability.  For this level evaluation aim to spend around 5 minutes on whichever topic you choose. 

     </p>
     <h4><i>Listening</i></h4>
      <p>
     The next part of the test will be focused on your listening ability.  The native Khmer speaker will talk to you on one of the same topics from above.  When they have finished talking, they will ask you some questions to which you will respond.  How you respond will help us gauge how well you have understood what they were saying.  You are allowed to make notes while listening to the speaker to help you remember.
     </p>
     <h4><i>Reading</i></h4>
      <p>
     For this part of the test we will give you some sentences or a short piece of text to read.  You will not have the opportunity to prepare beforehand.  This part of the test will help us to assess how to proceed with reading, and also with your pronunciation.
     </p>
     <h4><i>Writing</i></h4>
      <p>
     The final part of the test will be a dictation exercise.  The native speaker will slowly read some consonants, vowels, and words, and you will simply write down what you hear.  Everything will be read two or three times to give you some time to process what you hear.
     </p><br><br>
      
     
   </div>
           <div class="tab-pane" id="tab3">
    <p><h3>9 Month Khmer Test</h3>
      <p>
      For this test there will be 3 people present, the student, a native Khmer speaker, and a moderator.  The test will cover each of the four areas that are vital to becoming fluent in a language – speaking, listening, reading and writing.  This basic overview is designed to help you prepare for the test.  Please don’t worry and don’t try to cram!  The idea of this test is not to discourage but to encourage.  As we assess your level we will be looking at a set of personal goals for you to continue learning Khmer as efficiently as possible, and we will be able to tell you which areas require the most attention.     
     </p>
      <h4><i>Speaking & Listening</i></h4>
      <p>
        For your 9 month speaking evaluation you will speak to your moderator and the native speaker in a three-way conversation.  The conversation will be based on some pictures that will be shown to you on the day of the test.  The focus of the conversation will be describing what is going on in the pictures.  The pictures will be related to day-to-day life in Cambodia and Western nations.
     </p>
     <h4><i>Reading</i></h4>
      <p>
     For this part of the test we will give you some more complex words to read, and also a piece of text from the grade 3 Khmer reading book (this is the book that the Khmer students use at school in grade 3, and can be purchased at almost any book shop in Cambodia).
     </p>
     <h4><i>Writing</i></h4>
      <p>
     The final part of the test will be a dictation exercise.  The native speaker will slowly read some words and sentences, and you will simply write down what you hear.  Everything will be read two or three times to give you some time to process what you hear.
     </p><br><br>
      
     
   </div>

    <div class="tab-pane" id="tab4">
    <p><h3>1 Year Khmer Test</h3>
      <p>
      For this test there will be 3 people present, the student, a native Khmer speaker, and a moderator.  The test will cover each of the four areas that are vital to becoming fluent in a language – speaking, listening, reading and writing.  This basic overview is designed to help you prepare for the test.  Please don’t worry and don’t try to cram!  The idea of this test is not to discourage but to encourage.  As we assess your level we will be looking at a set of personal goals for you to continue learning Khmer as efficiently as possible, and we will be able to tell you which areas require the most attention.     
     </p>
      <h4><i>Speaking & Listening</i></h4>
      <p>
    For your 1 year Khmer test you will speak to your moderator and the native speaker in a three-way conversation.  The topic could be anything from what your vision for the future is, why you came to Cambodia, how you find Cambodia in relation to your own nation etc.  

    Once you have done this, you will also be expected to give a short testimony about why you came to believe in Jesus.  This should be about 2/3 minutes long.


     </p>
     <h4><i>Reading</i></h4>
      <p>
     For this part of the test you will read a passage from the grade 4 Khmer reading books (this is the book that Khmer students use at school in grade 4, and can be purchased at almost any book shop in Cambodia).  You will also be asked to read a few verses from the New Testament (New Translation).
     </p>
     <h4><i>Writing</i></h4>
      <p>
     The final part of the test will be a dictation exercise.  The native speaker will slowly read some sentences, and you will simply write down what you hear.  Everything will be read two or three times to give you some time to process what you hear.

      You will also be expected to write a short note prior to the test, that your moderator will examine on the day.  This note is something very short to communicate a message, and can be only a few lines long.  It could be something to explain that you are going to be late and the reason why, explaining that you can’t attend a meeting because you are ill, perhaps a list asking a friend to pick some things up for you at the market etc.  You can use a dictionary to help you with this, but please don’t ask for help from anyone Khmer or from your language teacher.  Please don’t forget to bring this with you on the day of the test.

     </p><br><br>
      
     
   </div>

   <div class="tab-pane" id="tab5">
    <p><h3>15 Months Khmer Test</h3>
      <p>
      For this test there will be 3 people present, the student, a native Khmer speaker, and a moderator.  The test will cover each of the four areas that are vital to becoming fluent in a language – speaking, listening, reading and writing.  This basic overview is designed to help you prepare for the test.  Please don’t worry and don’t try to cram!  The idea of this test is not to discourage but to encourage.  As we assess your level we will be looking at a set of personal goals for you to continue learning Khmer as efficiently as possible, and we will be able to tell you which areas require the most attention.       
     </p>
      <h4><i>Speaking & Listening</i></h4>
      <p>
    For your 15 month Khmer test you will speak to your moderator and the native speaker in a three-way conversation.  The topic could be anything from what your vision for the future is, why you came to Cambodia, how you find Cambodia in relation to your own nation etc.  This is very similar to the 1 year test, only that you will be expected to go slightly deeper, be more active in asking questions and be able to express yourself more clearly than before.  The conversation will be slightly longer, and the questions asked of you will also be a bit tougher.  

    Once you have done this you will also be expected to give a short testimony about your faith or how you came to know Christ.  This should be about 5 minutes long.
 </p>
     <h4><i>Reading</i></h4>
      <p>
     For this part of the test you will read a passage from the grade 4 Khmer reading book (this is the book that Khmer students use at school in grade 4, and can be purchased at almost any book shop in Cambodia).  You will also be asked to read a few verses from the New Testament (Old Translation).
     </p>
     <h4><i>Writing</i></h4>
      <p>
     The final part of the test will be a dictation exercise.  The native speaker will slowly read some sentences, and you will simply write down what you hear.  Everything will be read two or three times to give you some time to process what you hear.

      You will also be expected to write a short note prior to the test, that your moderator will examine on the day.  This note is something very short to communicate a message, and can be only a few lines long.  It could be something to explain that you are going to be late and the reason why, explaining that you can’t attend a meeting because you are ill, or perhaps a list asking a friend to pick some things up for you at the market etc.  You can use a dictionary to help you with this, but please don’t ask for help from anyone Khmer or from your language teacher.  Please give this to your moderator a few days before the test.


     </p><br><br>
      
     
   </div>


  <div class="tab-pane" id="tab6">
    <p><h3>18 Months Khmer Test</h3>
      <p>
      For this test there will be 3 people present, the student, a native Khmer speaker, and a moderator.  The test will cover each of the four areas that are vital to becoming fluent in a language – speaking, listening, reading and writing.  This basic overview is designed to help you prepare for the test.  Please don’t worry and don’t try to cram!  The idea of this test is not to discourage but to encourage.  As we assess your level we will be looking at a set of personal goals for you to continue learning Khmer as efficiently as possible, and we will be able to tell you which areas require the most attention.       
     </p>
      <h4><i>Speaking & Listening</i></h4>
    For your 15 month Khmer test you will speak to your moderator and the native speaker in a three-way conversation.  The topic could be anything from what your vision for the future is, why you came to Cambodia, how you find Cambodia in relation to your own nation etc.  This is very similar to the 15 month test, only that you will be expected to go slightly deeper, be more active in asking questions and be able to express yourself more clearly than before.  The conversation will be slightly longer, and the questions asked of you will also be a bit tougher.  

    Once you have done this you will be expected to give a short talk on a topic that interests you, which you should have prepared beforehand.  This should be between 5-10 minutes long.  

 </p>
     <h4><i>Reading</i></h4>
      <p>
     For this part of the test you will read a passage from the grade 4 Khmer reading book (this is the book that Khmer students use in school at grade 4, and can be purchased at almost any book shop in Cambodia).  You will also be asked to read a few verses from the Old Testament (New Translation).

      You will be required to translate the reading from the grade 4 Khmer book to the best of your ability.

     </p>
     <h4><i>Writing</i></h4>
      <p>
     The final part of the test will be a dictation exercise.  The native speaker will read some sentences, and you will simply write down what you hear.  Sentences will be read two or three times, but at normal speed.  

      You will also be expected to write a short story about a person or an event prior to the test, that your moderator will have examined before the test day.  This should be between half and one page long in a small exercise book.  You can use a dictionary to help you with this, but please don’t ask for help from anyone Khmer or from your language teacher.  Please give this to your moderator a few days before the test.



     </p><br><br>
      
     
   </div>

     <div class="tab-pane" id="tab7">
    <p><h3>21 Months Khmer Test</h3>
      <p>
      For this test there will be 3 people present, the student, a native Khmer speaker, and a moderator.  The test will cover each of the four areas that are vital to becoming fluent in a language – speaking, listening, reading and writing.  This basic overview is designed to help you prepare for the test.  Please don’t worry and don’t try to cram!  The idea of this test is not to discourage but to encourage.  As we assess your level we will be looking at a set of personal goals for you to continue learning Khmer as efficiently as possible, and we will be able to tell you which areas require the most attention.       
     </p>
      <h4><i>Speaking & Listening</i></h4>
    For your 21 month Khmer test you will speak to your moderator and the native speaker in a three-way conversation.  The topic could be: Khmer culture, Missions, Health, News etc.  This conversation will be longer than in previous tests, and your role should be a very active one, both asking and answering relevant questions in an understandable way.

    Once you have done this you will be expected to give a short talk on a topic that interests you, which you should have prepared beforehand.  This should be between 5-10 minutes long.
 

 </p>
     <h4><i>Reading</i></h4>
      <p>
     For this part of the test you will read a passage from the grade 4 Khmer reading book (this is the book that Khmer students use in school at grade 4, and can be purchased at almost any book shop in Cambodia).  You will also be asked to read a few verses from the Old Testament (Old Translation).

    You will be required to translate the reading from the grade 4 Khmer book to the best of your ability, and also to give some thoughts on the Bible passage you read in Khmer.


     </p>
     <h4><i>Writing</i></h4>
      <p>
     The final part of the test will be a dictation exercise.  The native speaker will read some sentences, and you will simply write down what you hear.  Sentences will be read two or three times, but at normal speed.

    You will also be expected to write a short story about a person or an event prior to the test, that your moderator will have examined before the test day.  This should be at least a page long in a small exercise book.  You can use a dictionary to help you with this, but please don’t ask for help from anyone Khmer or from your language teacher.  Please give this to your moderator a few days before the test.  

     </p><br><br>
      
     
   </div>

         <div class="tab-pane" id="tab8">
    <p><h3>2 Years Khmer Test</h3>
      <p>
      For this test there will be 3 people present, the student, a native Khmer speaker, and a moderator.  The test will cover each of the four areas that are vital to becoming fluent in a language – speaking, listening, reading and writing.  This basic overview is designed to help you prepare for the test.  Please don’t worry and don’t try to cram!  The idea of this test is not to discourage but to encourage.  As we assess your level we will be looking at a set of personal goals for you to continue learning Khmer as efficiently as possible, and we will be able to tell you which areas require the most attention.       
     </p>
      <h4><i>Speaking & Listening</i></h4>
    For your 2 year Khmer test you will speak to your moderator and the native speaker in a three-way conversation.  The topic could be: Khmer culture, Missions, Health, News etc.  This conversation will be more in depth than the previous tests, and your role should be a very active one, both asking and answering relevant questions in an understandable way.  

    Once you have done this, you will be expected to give your testimony in Khmer.  

    Finally you will be expected to preach a 10 minute sermon or lead a devotional.  This should include some reading from the Bible and a prayer.

 

 </p>
     <h4><i>Reading</i></h4>
      <p>
     For this part of the test you will read a passage from the grade 6 Khmer reading book (this is the book that Khmer students use in school at grade 6, and can be purchased at almost any book shop in Cambodia).  You will then translate this reading to the best of your ability.  You will also be asked to read a passage from the Bible and give some thoughts on the content.  Finally you will be asked to read some short phrases written in ‘Uksor Chlah’ 


     </p>
     <h4><i>Writing</i></h4>
      <p>
     The final part of the test will be a dictation exercise.  The native speaker will read some words and sentences, and you will simply write down what you hear.  Sentences will be read two or three times, but at normal speed.  

    You will also be expected to write a short story about a person or an event prior to the test, that your moderator will have examined before the test day.  This should be at least a page and a half long in a small exercise book, or a few paragraphs on the computer in size 12 font.  You can use a dictionary to help you with this, but please don’t ask for help from anyone Khmer or from your language teacher.  Please give this to your moderator a few days before the test.

    Finally you will be given a short piece of text written in English, and you will be required to translate this into written Khmer.
  

     </p><br><br>
      
     
   </div>

   <div class="tab-pane" id="tab9">
    <p><h3>2.5 Years Khmer Test</h3>
      <p>
      For this test there will be 3 people present, the student, a native Khmer speaker, and a moderator.  The test will cover each of the four areas that are vital to becoming fluent in a language – speaking, listening, reading and writing.  This basic overview is designed to help you prepare for the test.  Please don’t worry and don’t try to cram!  The idea of this test is not to discourage but to encourage.  As we assess your level we will be looking at a set of personal goals for you to continue learning Khmer as efficiently as possible, and we will be able to tell you which areas require the most attention.       
     </p>
      <h4><i>Speaking & Listening</i></h4>
    For your 2.5 year Khmer test you will speak to your moderator and the native speaker in a three-way conversation.  The topic could be: Khmer culture, Missions, Health, News etc.  This conversation will be more in depth than previous tests, and your role should be a very active one, both asking and answering relevant questions in an understandable way.

    Once you have done this you will be expected to give your testimony in Khmer.

    Finally you will be expected to preach a 15 minute sermon or lead a devotional.  This should include some reading from the Bible and a prayer.


 

 </p>
     <h4><i>Reading</i></h4>
      <p>
     For this part of the test you will read a passage from a Khmer book which you will not see until the time of the test.  You will be asked to translate what you read to the best of your ability.  

      You will then be asked to read a passage from the Bible and give some thoughts on the content.  

      Following this you will read a note hand written in Khmer and translate it.

      Finally you will be asked to read some short phrases written in ‘Uksor ‘Chlah’ 


     </p>
     <h4><i>Writing</i></h4>
      <p>
     The final part of the test will be a dictation exercise.  The native speaker will read some sentences, and you will simply write down what you hear.  Sentences will be read two or three times, but at normal speed.

    You will also be expected to write a short essay on a subject of your choice.  This should be at least 3 sides of paper in a small exercise book, and should include your opinions on the subject, as well as different arguments and opinions.  This could also be done on the computer, in which case it should be at least one page long in size 12 font.  You can speak to Khmer people to gain insight on the topic and discuss ideas, but they may not help you write.  You can use a dictionary to help you with this, but please don’t ask for help from anyone Khmer or from your language teacher for the writing itself.  Please give this to your moderator a few days before the test.

    Finally you will be given a short piece of text written in English, and you will be required to translate this into written Khmer.

  

     </p><br><br>
      
     
   </div>

    <div class="tab-pane" id="tab10">
    <p><h3>3 Years Khmer Test</h3>
      <p>
      For this test there will be 3 people present, the student, a native Khmer speaker, and a moderator.  The test will cover each of the four areas that are vital to becoming fluent in a language – speaking, listening, reading and writing.  This basic overview is designed to help you prepare for the test.  Please don’t worry and don’t try to cram!  The idea of this test is not to discourage but to encourage.  As we assess your level we will be looking at a set of personal goals for you to continue learning Khmer as efficiently as possible, and we will be able to tell you which areas require the most attention.  At this point you should be incredibly encouraged, this is your FINAL Khmer test – congratulations!      
     </p>
      <h4><i>Speaking & Listening</i></h4>
    For your 3 year test you will speak to your moderator and the native speaker in a three-way conversation.  The topic could be anything.  The conversation should be in depth and you will be expected to ask and answer questions, presenting thoughts and ideas in an appropriate and understandable way.  You will take the lead role in this conversation, and it is an opportunity for you to show off what you have spent the last 3 years learning!

    Once you have done this you will be expected to give your testimony in Khmer.

    Finally you will be expected to preach a 15-20 minute sermon in Khmer.  This should include some reading from the Bible and a prayer.



 

 </p>
     <h4><i>Reading</i></h4>
      <p>
     For this part of the test you will read a passage from a Khmer book which you will not see until the time of the test.  You will be asked to translate what you read to the best of your ability.  

    You will then be asked to read a passage from the Bible and give some thoughts on the content.  

    Following this you will read a note hand written in Khmer and translate it.

    Finally you will be asked to read some short phrases written in ‘Uksor ‘Chlah’ 


     </p>
     <h4><i>Writing</i></h4>
      <p>
     
The final part of the test will be a dictation exercise.  The native speaker will read some sentences, and you will simply write down what you hear.  Sentences will be read two or three times, but at normal speed.
 </p><br><br>
      
     
   </div>

          </div>
        </div>
      </div>
